version: "3.9"

services:

  app:
    build: .
    depends_on:
      - mongo
    environment:
      API_KEY: wsAULvsYtc8oM6GUGxQl
      MONGO_CONNECTION_STRING: mongodb://root:example@mongo:27017/
      MONGO_DATABASE: playersDB
      MONGO_COLLECTION: players

  mongo:
    image: mongo:5.0.6-focal
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express:0.54.0
    depends_on:
      - mongo
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
