version: "3.9"

services:

  app:
    build: apex-api-sync
    depends_on:
      - mongo
    env_file: .env
    environment:
      MONGO_CONNECTION_STRING: mongodb://root:example@mongo:27017/
      MONGO_PLAYERS_DATABASE: playersDB
      MONGO_PLAYERS_COLLECTION: players
      MONGO_GAMES_DATABASE: gamesDB
      MONGO_GAMES_COLLECTION: games

  mongo:
    image: mongo:5.0.6-focal
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: playersDB
    volumes:
      - ./mongo-init:/docker-entrypoint-initdb.d

  mongo-express:
    image: mongo-express:0.54.0
    depends_on:
      - mongo
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
